.mywork-wrapper {
    padding: 20px;
    margin-left: 7rem;
    min-height: 75vh;
}

.mywork-wrapper > h2 {
    font-size: 2.4rem;
    text-decoration: underline;
}

.mywork-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

@media (max-width: 650px){
    .mywork-wrapper{
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .mywork-container{
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
    }
}